#api:
PORT=3017
BASE_URL=http://localhost

#auth0:
AUTH0_CLIENT_SECRET=O5-LhAtaf7O-YasdasdQBl-2GyXt0zVN8dhA8LTiNu8fkym_
AUTH0_SECRET=O5-LhAtaf7O-YasdasdQBl-2GyXt0zVN8dhA8LTiNu8fkym_
AUTH0_CLIENT_ID=yKip2vH4nsJasdasdsT1b4MUqBIF
AUTH0_DOMAIN='https://dev-an0adasdasdv77lpyd1r3.us.auth0.com'
AUTH0_AUDIENCE='https://hobbify.auth0.api.com'

#mongodb:
MONGODB_HOST=mongodb
MONGODB_USER=username
MONGODB_PASSWORD=vloset8asdfasW3G
MONGODB_CLUSTER=cluster0.pdpdgnfj.mongodb.net
MONGODB_DATABASE=hobbify
MONGODB_URI='mongodb+srv://USERNAME:EXAMPLE_PASSWORD@CLUSTER.jafvbnl.mongodb.net/?retryWrites=true&w=majority&appName=NOMBRE_CLUSTER'

#postgres:
POSTGRESDB_URL='postgresql://adminhobbify:46MXtD0zjBm8QySOPReEzFTwRSTPEaQN@dpg-cpuutvdds78s73aqi98g-a.oregon-postgres.render.com/hobbify_onl2'

#cloudinary:
CLOUDINARY_CLOUD_NAME=dpruzq6je
CLOUDINARY_API_KEY=115739479837867
CLOUDINARY_API_SECRET=ZrlbEtFe6BwpHg_OOyjoh6qEVSU

#stripe:
SECRET_API_KEY=sk_test_51PYeTG2NHKCHC8oyuorgbNLNYc3apjffL7qRMpXWAB16Yypodf3XoMxCAuvdEO61VfE3GjhnqEErCZWce6tcDEwx00begqaZoi

#socket.io
SOCKET_PORT=8080 #this is an example
